.cropper {
	position: relative;
	height: 50vh;
}

.viewer {
	height: 50vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.output {
	position: relative;
	width: 300px;
	overflow: hidden;
}

.output img {
	position: absolute;
	top: 0;
	left: 0;
	transform-origin: top left;
}
